*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.card{
    padding: 24px;
    background-color: blueviolet;
    color: aliceblue;
    width: 500px;
    
   margin: 100px auto;
   border-radius: 10px;
}

h3{
    font-size: 1.5em;
}

p{
    color: aliceblue;
    margin: 0.75em 0 0.75em;
    font-size: 1em;
    background-color: blueviolet;
}

