#root{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card{
    border: 1px solid lightslategrey;
    padding: 1.25rem 2rem;
    background-color: yellow;
    color: brown;
}

img{
    height: 170px;
    row-gap: 1rem;
    column-gap: 1.5rem;
}
